[submodule "TarsCpp"]
	path = TarsCpp
	url = https://github.com/TarsCloud/TarsCpp.git
[submodule "random"]
	path = random
	url = https://github.com/effolkronium/random.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/open-source-parsers/rapidjson.git
[submodule "jsoncpp-Sandbox/jsoncpp"]
	path = jsoncpp-Sandbox/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "cpr"]
	path = cpr
	url = https://github.com/libcpr/cpr.git
[submodule "hiredis"]
	path = hiredis
	url = https://github.com/redis/hiredis.git
[submodule "redis-plus-plus"]
	path = redis-plus-plus
	url = https://github.com/sewenew/redis-plus-plus.git
[submodule "IXWebSocket"]
	path = IXWebSocket
	url = https://github.com/machinezone/IXWebSocket.git
[submodule "tinyxml2"]
	path = tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "log4cplus"]
	path = log4cplus
	url = https://github.com/log4cplus/log4cplus.git
[submodule "libconfig"]
	path = libconfig
	url = https://github.com/hyperrealm/libconfig.git
[submodule "cppgraphqlgen"]
	path = cppgraphqlgen
	url = https://github.com/microsoft/cppgraphqlgen.git
[submodule "enkiTS"]
	path = enkiTS
	url = https://github.com/dougbinks/enkiTS.git
[submodule "jwt-cpp"]
	path = jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "uWebSockets"]
	path = uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
[submodule "nedmalloc"]
	path = nedmalloc
	url = https://github.com/ned14/nedmalloc.git
[submodule "jemalloc"]
	path = jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "concurrentqueue"]
	path = concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "nanomsg"]
	path = nanomsg
	url = https://github.com/nanomsg/nanomsg.git
