[submodule "TarsCpp"]
	path = TarsCpp
	url = https://github.com/TarsCloud/TarsCpp.git
[submodule "random"]
	path = random
	url = https://github.com/effolkronium/random.git
[submodule "mysqlpp"]
	path = mysqlpp
	url = https://github.com/tangentsoft/mysqlpp.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/open-source-parsers/rapidjson.git
[submodule "jsoncpp-Sandbox/jsoncpp"]
	path = jsoncpp-Sandbox/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
